@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

:root{
    --first-color : #6DCCB0;
    --second-color : #40B4E5;
    --black-color : #1b1d1d;
    --font: 'Rubik', sans-serif;

}

*{
    list-style: none;
    text-decoration: none !important;
}

body{
    font-family: var(--font);
}

.navbar{
    background-color: #6DCCB0 !important;
}

.navbar .navbar-brand img{
    width: 140px;
    
}

.navbar .company{
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.2em;
}

.menu .menu-link{
    margin: 0 30px;
    font-size: 18px;
    font-weight: 400;
    color: var(--black-color);
}

.menu .menu-link.active{
    font-weight: 700;
    color: var(--first-color);
}

.menu .toggle-sidebar{
    color: var(--first-color);
    cursor: pointer;
    transition: .3s ease-in-out;
}


.offcanvas .list-group-item.active{
    background-color: #6DCCB0 !important;
    border-color: #6DCCB0 !important;
}

.menu-mobile .btn-menu{
    background-color: #6DCCB0 !important;
    border-color: #6DCCB0 !important;
}

.menu-mobile .list-group-item.active{
    background-color: #6DCCB0 !important;
}


/* HOMEPAGE CSS */
.header{
    margin-top: 50px;
}

.product{
    margin-top: 150px;
}

.product .card{
    border: none;
    box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.069);
}

.product .btn-CTA{
    background-color: #6DCCB0 !important;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

footer{
    margin-top: 150px;
}

footer .title-info{
    color: #6DCCB0;
    font-weight: 700;
    margin-bottom: 30px;
}

footer li a{
    color: var(--black-color);
    display: inline-block;
    margin-bottom: 20px;
}

footer .row-copy i{
    font-size: 40px;
    color: #6DCCB0;
}

@media screen and (max-width: 500px) {
    .product{
        margin-top: 100px;
    }
    .product .card .card-title{
        font-size: 16px;
    }
}



/* PROFILE PAGE CSS */



.profile .title-section h1, .visimisi .title-section h1,
.product .title-section h1, .contact .title-section h1, .about .title-section h1{
 font-size: 30px;
 font-weight: 700;
}

.profile .row-pencapaian .card{
    border: none;
    box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.069);
}

.profile .row-bestservices .card{
    border: none;
    box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.069);
    background-color: #6DCCB0;
    color: #fff;
}


/* PRODUCT PAGE CSS */
.product .row-product .btn-product{
    background-color: #6DCCB0;
    color: #fff;
}


/* CONTACT PAGE CSS */
.contact .btn-contact{
    background-color: #6DCCB0;
    color: #fff;
}


/* ARTIKEL PAGE CSS */
.artikel .author p, .artikel .create p{
    font-size: 13px;
    margin: 0;
}

/* GALLERY PAGE CSS */
.gallery .img-box .bg-img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1d1d88;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    clip-path: circle(0% at 50% 50%);
    transition: .3s ease-in-out;
}

.gallery .img-box:hover .bg-img{
    transition: .3s ease-in-out;
    clip-path: circle(100% at 50% 50%);
}