@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

:root{
    --first-color : #6DCCB0;
    --second-color : #40B4E5;
    --black-color : #1b1d1d;
    --font: 'Rubik', sans-serif;

}

*{
    list-style: none;
    text-decoration: none !important;
}

body{
    font-family: var(--font);
}

.navbar{
    background-color: #6DCCB0 !important;
}

.navbar .navbar-brand img{
    width: 140px;
    
}

.navbar .company{
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.2em;
}

.menu .menu-link{
    margin: 0 30px;
    font-size: 18px;
    font-weight: 400;
    color: var(--black-color);
}

.menu .menu-link.active{
    font-weight: 700;
    color: var(--first-color);
}

.menu .toggle-sidebar{
    color: var(--first-color);
    cursor: pointer;
    transition: .3s ease-in-out;
}


.offcanvas .list-group-item.active{
    background-color: #6DCCB0 !important;
    border-color: #6DCCB0 !important;
}

.menu-mobile .btn-menu{
    background-color: #6DCCB0 !important;
    border-color: #6DCCB0 !important;
}


/* HOMEPAGE CSS */
.header{
    margin-top: 50px;
}

.product{
    margin-top: 150px;
}

.product .card{
    box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.069);
}

.product .btn-CTA{
    background-color: #6DCCB0 !important;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

footer{
    margin-top: 150px;
}

footer .title-info{
    color: #6DCCB0;
    font-weight: 700;
    margin-bottom: 30px;
}

footer li a{
    color: var(--black-color);
    display: inline-block;
    margin-bottom: 20px;
}

footer .row-copy i{
    font-size: 40px;
    color: #6DCCB0;
}

@media screen and (max-width: 500px) {
    .product{
        margin-top: 100px;
    }
    .product .card .card-title{
        font-size: 16px;
    }
}



/* PROFILE PAGE CSS */



.profile .title-section h1{
 font-size: 30px;
 font-weight: 700;
}
